@charset "UTF-8";
/**
 * @name Channel Icons
 * @description Gives some channels unique icons depending on their name.
 * @author Vbriese#2501
 * @authorId 441384103946878987
 * @version 1.8.1
 *
 * @updateUrl https://raw.githubusercontent.com/Controlfreak707/Channel-Icons/main/channelicons.theme.css
 * @source https://github.com/Controlfreak707/Channel-Icons
 * @invite fssWDHY5Kb
 */
/* You may remove or comment out any channels that you don't want to be affected. */
/* GitHub Channels */
.mainContent-u_9PKf[aria-label*=github] > div svg > path {
  d: path("M8.02581 18.2495C8.02581 18.3432 7.91455 18.4182 7.77425 18.4182C7.61461 18.4323 7.50334 18.3573 7.50334 18.2495C7.50334 18.1557 7.61461 18.0808 7.7549 18.0808C7.90003 18.0667 8.02581 18.1417 8.02581 18.2495ZM6.52128 18.0386C6.48741 18.1323 6.58417 18.2401 6.7293 18.2682C6.85508 18.3151 7.00021 18.2682 7.02924 18.1745C7.05827 18.0808 6.96635 17.973 6.82122 17.9308C6.69544 17.898 6.55514 17.9448 6.52128 18.0386ZM8.65956 17.9589C8.51926 17.9917 8.42251 18.0808 8.43702 18.1886C8.45154 18.2823 8.57732 18.3432 8.72245 18.3104C8.86274 18.2776 8.9595 18.1886 8.94498 18.0948C8.93047 18.0058 8.79985 17.9449 8.65956 17.9589ZM11.8428 0C5.13284 0 0 4.93495 0 11.4352C0 16.6326 3.37674 21.0802 8.19997 22.6455C8.8192 22.7533 9.0369 22.383 9.0369 22.0784C9.0369 21.7878 9.02239 20.185 9.02239 19.2008C9.02239 19.2008 5.63597 19.9038 4.92482 17.8043C4.92482 17.8043 4.37332 16.4405 3.57993 16.089C3.57993 16.089 2.47209 15.3532 3.65733 15.3672C3.65733 15.3672 4.86193 15.461 5.5247 16.5764C6.58417 18.3854 8.35962 17.8652 9.05142 17.5559C9.16268 16.806 9.47714 16.2858 9.82545 15.9765C7.12116 15.6859 4.39267 15.3063 4.39267 10.7978C4.39267 9.50904 4.76034 8.86229 5.53438 8.03746C5.4086 7.73283 4.99739 6.47683 5.66016 4.85528C6.67125 4.55065 8.9982 6.12065 8.9982 6.12065C9.96575 5.8582 11.0059 5.72229 12.0363 5.72229C13.0667 5.72229 14.1069 5.8582 15.0744 6.12065C15.0744 6.12065 17.4014 4.54597 18.4124 4.85528C19.0752 6.48152 18.664 7.73283 18.5382 8.03746C19.3123 8.86698 19.7864 9.51372 19.7864 10.7978C19.7864 15.3204 16.9369 15.6812 14.2326 15.9765C14.6777 16.3467 15.0551 17.0497 15.0551 18.1511C15.0551 19.7304 15.0405 21.6847 15.0405 22.069C15.0405 22.3737 15.2631 22.7439 15.8775 22.6361C20.7152 21.0802 23.9952 16.6326 23.9952 11.4352C23.9952 4.93495 18.5527 0 11.8428 0ZM4.70229 16.164C4.63939 16.2108 4.65391 16.3186 4.73615 16.4077C4.81355 16.4826 4.92482 16.5154 4.98771 16.4545C5.0506 16.4077 5.03609 16.2999 4.95385 16.2108C4.87644 16.1358 4.76518 16.103 4.70229 16.164ZM4.17981 15.7843C4.14595 15.8453 4.19432 15.9203 4.29108 15.9671C4.36848 16.014 4.46524 15.9999 4.4991 15.9343C4.53296 15.8734 4.48459 15.7984 4.38783 15.7515C4.29108 15.7234 4.21367 15.7375 4.17981 15.7843ZM5.74724 17.4528C5.66983 17.5137 5.69886 17.6543 5.81013 17.7433C5.9214 17.8511 6.06169 17.8652 6.12458 17.7902C6.18747 17.7293 6.15845 17.5887 6.06169 17.4996C5.95526 17.3918 5.81013 17.3778 5.74724 17.4528ZM5.19574 16.7638C5.11833 16.8107 5.11833 16.9326 5.19574 17.0403C5.27314 17.1481 5.40376 17.195 5.46665 17.1481C5.54405 17.0872 5.54405 16.9654 5.46665 16.8576C5.39892 16.7498 5.27314 16.7029 5.19574 16.7638Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=github] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Offtopic & Ontopic Channels */
/* English */
.mainContent-u_9PKf[aria-label*=offtopic] > div svg > path,
.mainContent-u_9PKf[aria-label*=off-topic] > div svg > path,
.mainContent-u_9PKf[aria-label*=chat] > div svg > path,
.mainContent-u_9PKf[aria-label*=ontopic] > div svg > path,
.mainContent-u_9PKf[aria-label*=on-topic] > div svg > path,
.mainContent-u_9PKf[aria-label*=general] > div svg > path,
.mainContent-u_9PKf[aria-label*=horssujet] > div svg > path,
.mainContent-u_9PKf[aria-label*=hors-sujet] > div svg > path,
.mainContent-u_9PKf[aria-label*=discuter] > div svg > path,
.mainContent-u_9PKf[aria-label*=ontopique] > div svg > path,
.mainContent-u_9PKf[aria-label*=sur-le-sujet] > div svg > path,
.mainContent-u_9PKf[aria-label*=général] > div svg > path {
  d: path("M2.39953 0C1.07499 0 0 1.07379 0 2.39952V16.7966C0 18.1212 1.07499 19.1962 2.39953 19.1962H5.99882V23.9952L10.7978 19.1962H21.5957C22.9214 19.1962 23.9952 18.1212 23.9952 16.7966V2.39952C23.9952 1.07379 22.9214 0 21.5957 0H2.39953Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=offtopic] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=off-topic] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=chat] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=ontopic] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=on-topic] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=general] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=horssujet] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=hors-sujet] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=discuter] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=ontopique] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=sur-le-sujet] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=général] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Info Channels */
/* English */
.mainContent-u_9PKf[aria-label*=info] > div svg > path,
.mainContent-u_9PKf[aria-label*=useful] > div svg > path,
.mainContent-u_9PKf[aria-label*=utile] > div svg > path {
  d: path("M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=info] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=useful] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=utile] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Help Channels */
/* English */
.mainContent-u_9PKf[aria-label*=help] > div svg > path,
.mainContent-u_9PKf[aria-label*=faq] > div svg > path,
.mainContent-u_9PKf[aria-label*=support] > div svg > path,
.mainContent-u_9PKf[aria-label*=aider] > div svg > path {
  d: path("M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=help] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=faq] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=support] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=aider] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Starboard Channels */
/* English */
.mainContent-u_9PKf[aria-label*=starboard] > div svg > path,
.mainContent-u_9PKf[aria-label*=tribord] > div svg > path {
  d: path("M 21.924 8.61789 C 21.77 8.24489 21.404 8.00089 21 8.00089 H 15.618 L 12.894 2.55389 C 12.555 1.87689 11.444 1.87689 11.105 2.55389 L 8.38199 8.00089 H 2.99999 C 2.59599 8.00089 2.22999 8.24489 2.07599 8.61789 C 1.92199 8.99089 2.00699 9.42289 2.29299 9.70789 L 6.87699 14.2919 L 5.03899 20.7269 C 4.92399 21.1299 5.07199 21.5619 5.40999 21.8089 C 5.74999 22.0569 6.20699 22.0659 6.55399 21.8329 L 12 18.2029 L 17.445 21.8329 C 17.613 21.9449 17.806 22.0009 18 22.0009 C 18.207 22.0009 18.414 21.9369 18.59 21.8089 C 18.928 21.5619 19.076 21.1299 18.961 20.7269 L 17.123 14.2919 L 21.707 9.70789 C 21.993 9.42289 22.078 8.99089 21.924 8.61789 Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=starboard] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=tribord] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Gaming Channels */
/* English */
.mainContent-u_9PKf[aria-label*=gaming] > div svg > path,
.mainContent-u_9PKf[aria-label*=game] > div svg > path,
.mainContent-u_9PKf[aria-label*=jeu] > div svg > path {
  d: path("M 5.79336 5 L 18.2066 5 C 19.7806 5 21.0869 6.21634 21.199 7.78626 L 21.8575 17.0051 C 21.9308 18.031 21.1586 18.922 20.1327 18.9953 C 20.0885 18.9984 20.0443 19 20 19 C 18.8246 19 17.8 18.2 17.5149 17.0597 L 17 15 L 7 15 L 6.48507 17.0597 C 6.19999 18.2 5.17541 19 4 19 C 2.97151 19 2.13776 18.1662 2.13776 17.1378 C 2.13776 17.0935 2.13934 17.0492 2.14249 17.0051 L 2.80098 7.78626 C 2.91312 6.21634 4.21944 5 5.79336 5 Z M 14.5 10 C 15.3284 10 16 9.32843 16 8.5 C 16 7.67157 15.3284 7 14.5 7 C 13.6716 7 13 7.67157 13 8.5 C 13 9.32843 13.6716 10 14.5 10 Z M 18.5 13 C 19.3284 13 20 12.3284 20 11.5 C 20 10.6716 19.3284 10 18.5 10 C 17.6716 10 17 10.6716 17 11.5 C 17 12.3284 17.6716 13 18.5 13 Z M 6 9 L 4 9 L 4 11 L 6 11 L 6 13 L 8 13 L 8 11 L 10 11 L 10 9 L 8 9 L 8 7 L 6 7 L 6 9 Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=gaming] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=game] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=jeu] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Programming Channels */
/* English */
.mainContent-u_9PKf[aria-label*=program] > div svg > path,
.mainContent-u_9PKf[aria-label*=coding] > div svg > path,
.mainContent-u_9PKf[aria-label*=dev] > div svg > path,
.mainContent-u_9PKf[aria-label*=programme] > div svg > path,
.mainContent-u_9PKf[aria-label*=codage] > div svg > path {
  d: path("M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=program] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=coding] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=dev] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=programme] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=codage] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Meme Channels */
.mainContent-u_9PKf[aria-label*=meme] > div svg > path {
  d: path("M21.5957 0H2.39951C1.07499 0 0 1.07379 0 2.39952V16.7966C0 18.1212 1.07499 19.1962 2.39951 19.1962H3.59927V23.9952L8.39833 19.1962H21.5957C22.9215 19.1962 23.9952 18.1212 23.9952 16.7966V2.39952C23.9952 1.07379 22.9215 0 21.5957 0ZM15.5969 4.4991C16.4236 4.4991 17.0966 5.17097 17.0966 5.9988C17.0966 6.82663 16.4247 7.4985 15.5969 7.4985C14.7703 7.4985 14.0972 6.82663 14.0972 5.9988C14.0972 5.17097 14.7703 4.4991 15.5969 4.4991ZM8.39833 4.4991C9.22496 4.4991 9.89803 5.17097 9.89803 5.9988C9.89803 6.82663 9.22496 7.4985 8.39833 7.4985C7.57169 7.4985 6.89862 6.82663 6.89862 5.9988C6.89862 5.17097 7.57169 4.4991 8.39833 4.4991ZM11.9976 14.3971C9.5381 14.3971 7.43132 12.9142 6.5051 10.7978H17.4901C16.5639 12.9142 14.4571 14.3971 11.9976 14.3971Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=meme] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Bot Channels */
.mainContent-u_9PKf[aria-label*=bot] > div svg > path {
  d: path("M12 14C7.289 14 4 16.467 4 20V22H20V20C20 16.467 16.711 14 12 14ZM11 19C10.447 19 10 18.553 10 18C10 17.447 10.447 17 11 17C11.553 17 12 17.447 12 18C12 18.553 11.553 19 11 19ZM14 19C13.447 19 13 18.553 13 18C13 17.447 13.447 17 14 17C14.553 17 15 17.447 15 18C15 18.553 14.553 19 14 19Z M18 6H17.91C17.432 3.167 14.967 1 12 1C9.033 1 6.568 3.167 6.09 6H6C4.896 6 4 6.896 4 8V9C4 10.104 4.896 11 6 11C6 12.102 6.897 13 8 13H16C17.104 13 18 12.102 18 11C19.104 11 20 10.104 20 9V8C20 6.896 19.104 6 18 6ZM16 10H8V6H16V10Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=bot] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Log Channels */
/* English */
.mainContent-u_9PKf[aria-label*=log] > div svg > path,
.mainContent-u_9PKf[aria-label*=registre] > div svg > path {
  d: path("M19.1962 17.9964H4.79904V15.5969H19.1962V17.9964ZM19.1962 13.1974H4.79904V10.7978H19.1962V13.1974ZM19.1962 8.39832H4.79904V5.9988H19.1962V8.39832ZM1.19976 23.9952L2.9994 22.1956L4.79904 23.9952L6.59868 22.1956L8.39832 23.9952L10.198 22.1956L11.9976 23.9952L13.7972 22.1956L15.5969 23.9952L17.3965 22.1956L19.1962 23.9952L20.9958 22.1956L22.7954 23.9952V-7.45058e-09L20.9958 1.79964L19.1962 -7.45058e-09L17.3965 1.79964L15.5969 -7.45058e-09L13.7972 1.79964L11.9976 -7.45058e-09L10.198 1.79964L8.39832 -7.45058e-09L6.59868 1.79964L4.79904 -7.45058e-09L2.9994 1.79964L1.19976 -7.45058e-09V23.9952Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=log] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=registre] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Quote Channels */
/* English */
.mainContent-u_9PKf[aria-label*=quote] > div svg > path,
.mainContent-u_9PKf[aria-label*=citation] > div svg > path {
  d: path("M19.8401 5.39392C20.1229 4.73405 19.6389 4 18.921 4H17.1231C16.7417 4 16.3935 4.21695 16.2254 4.55933L13.3297 10.4581C13.195 10.7324 13.125 11.0339 13.125 11.3394V19C13.125 19.5523 13.5727 20 14.125 20H20C20.5523 20 21 19.5523 21 19V12.875C21 12.3227 20.5523 11.875 20 11.875H17.8208C17.4618 11.875 17.2198 11.508 17.3612 11.178L19.8401 5.39392ZM9.71511 5.39392C9.99791 4.73405 9.51388 4 8.79596 4H6.99809C6.61669 4 6.2685 4.21695 6.10042 4.55933L3.20466 10.4581C3.07001 10.7324 3 11.0339 3 11.3394V19C3 19.5523 3.44772 20 4 20H9.875C10.4273 20 10.875 19.5523 10.875 19V12.875C10.875 12.3227 10.4273 11.875 9.875 11.875H7.69577C7.33681 11.875 7.0948 11.508 7.2362 11.178L9.71511 5.39392Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=quote] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=citation] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/* Bug Channels */
/* English */
.mainContent-u_9PKf[aria-label*=bug] > div svg > path,
.mainContent-u_9PKf[aria-label*=bogue] > div svg > path {
  d: path("M22.7155 6.66533H18.9508C18.3465 5.62252 17.5129 4.72928 16.5125 4.05252L18.6963 1.87962L16.8072 0L13.9 2.89275C13.2837 2.74612 12.6541 2.66613 11.9976 2.66613C11.3411 2.66613 10.7115 2.74612 10.1086 2.89275L7.18796 0L5.29894 1.87962L7.46931 4.05252C6.4779 4.73239 5.64727 5.62554 5.04439 6.66533H1.27974V9.33147H4.07978C4.0128 9.77138 3.95921 10.2113 3.95921 10.6645V11.9976H1.27974V14.6637H3.95921V15.9968C3.95921 16.45 4.0128 16.89 4.07978 17.3299H1.27974V19.996H5.04439C6.43771 22.3822 9.02339 23.9952 11.9976 23.9952C14.9718 23.9952 17.5575 22.3822 18.9508 19.996H22.7155V17.3299H19.9154C19.9824 16.89 20.036 16.45 20.036 15.9968V14.6637H22.7155V11.9976H20.036V10.6645C20.036 10.2113 19.9824 9.77138 19.9154 9.33147H22.7155V6.66533ZM14.6771 17.3299H9.31814V14.6637H14.6771V17.3299ZM14.6771 11.9976H9.31814V9.33147H14.6771V11.9976Z");
  transform: scale(1) !important;
}
.mainContent-u_9PKf[aria-label*=bug] > div svg[viewbox="0 0 40 40"] > path,
.mainContent-u_9PKf[aria-label*=bogue] > div svg[viewbox="0 0 40 40"] > path {
  transform: scale(1.7) !important;
}

/*# sourceMappingURL=channelicons.theme.css.map */
